<div class="container2">
    <form [formGroup]="registerForm">

        <div style="font-size: 13px">
            <p>
                Full name <br>
                <mat-form-field appearance="outline" style="width: 300px;">
                    <input matInput style="height: 20px;" formControlName="fullName">
                    <mat-hint *ngIf="submitted && f.fullName.errors">
                        <mat-hint *ngIf="f.fullName.errors.required">Enter Full Name</mat-hint>
                    </mat-hint>
                </mat-form-field>
            </p>
        </div>

        <div style="font-size: 13px" class="box">
            <p>
                Email id <br>
                <mat-form-field appearance="outline" style="width: 300px;">
                    <input matInput style="height: 20px;" formControlName="email">
                    <mat-hint *ngIf="submitted && f.email.errors">
                        <mat-hint *ngIf="f.email.errors.required">Enter Email address</mat-hint>
                        <mat-hint *ngIf="f.email.errors.email">Email must be a valid email address</mat-hint>
                    </mat-hint>
                </mat-form-field>
            </p>
        </div>

        <div style="font-size: 13px" class="box">
            <p>
                Password <br>
                <mat-form-field appearance="outline" style="width: 300px;">
                    <input matInput [type]="hide ? 'password' : 'text'" style="height: 20px;"
                        formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-hint *ngIf="submitted && f.password.errors">
                        <mat-hint *ngIf="f.password.errors.required">Enter Password</mat-hint>
                        <mat-hint *ngIf="f.password.errors.minlength">Password must be at least 6 characters
                        </mat-hint>
                    </mat-hint>

                </mat-form-field>
            </p>

        </div>

        <div style="font-size: 13px" class="box">
            <p>
                Mobile Number <br>
                <mat-form-field appearance="outline" style="width: 300px;">
                    <input matInput style="height: 20px;" formControlName="phone">
                    <mat-hint *ngIf="submitted && f.phone.errors">
                        <mat-hint *ngIf="f.phone.errors.required">Enter Phone Number</mat-hint>
                        <mat-hint *ngIf="f.phone.errors.minlength">Phone Number must be at least 6 characters
                        </mat-hint>
                    </mat-hint>
                </mat-form-field>
            </p>
        </div>

        <div>
            <button id="signup" style="width: 300px; height: 35px;" (click)="onSubmit()">
                SignUp
            </button>
        </div>
    </form>
</div>