.sorting-class{
    width: 130px;
    height: 10px;
    // padding-right: 170px;
    padding-top: 0px;
  }
  
  .head1{
    padding-top: 40px;
  }
  
  // -------------------------------------------------------
  .book-con{
    background-color: #F5F5F5;
    // margin-left: 172px;
    margin-top: 35px;
    width: 223px;
    height: 172px;
  }

  .regular-book-con {
    margin-left: 172px;
  }

  .medium-book-con {
    margin-left: 100px;
    // margin-right: 40px;
  }

  .small-book{
    margin-left: 70px;

  }

  // -------------------------------------------------------
  .details{
    background-color:#FFFF;
   
    border       : 1px solid;
    border-color : gainsboro;
    height: 103px;
    width: 223px;
    position: relative;
    margin-top: 0px;
    // margin-left: 172px;

  }

  .regular-details {
    margin-left: 172px;
  }

  .medium-details {

  }

  .small-details {

  }

  // -------------------------------------------------------
  .name-container{
    width: 130px;
    height: 19px;
    margin-top: 0px;
    margin-left: -55px;
    font-size: 13px;
  }

  .regular-name-container {
    margin-left: -55px;
  }

  .medium-name-container {
    margin-left: -55px;
  }

  .small-name-container {
    margin-left: -55px;

  }

  // -------------------------------------------------------
  .authorName{
    width: 63px;
    height: 13px;
    margin-top: -10px;    
    margin-left: -125px;
    font-size: 10px;
  }

  .regular-authorName {
    margin-left: -125px;
  }

  .medium-authorName {
    margin-left: -125px;
  }

  .small-authorName {
    margin-left: -125px;

  }

  // -------------------------------------------------------
  
  button {
    // width: 330px;
    height: 25px;
    margin-left: 29px;
    // margin-top: 15px;
  }

  .regular-button {
    // margin-left: 30px;

  }

  .medium {

  }

  .small {

  }
  // -------------------------------------------------------

  
  #items {
    font-size: 15px;
    opacity: 0.5;
  }
  
  /* Pagination links */
  .pagination a {
    margin-top: 50px;
    margin-bottom: 100px;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .pagination{
    margin-left: 20vw;
  }
  
  /* Style the active/current link */
  .pagination a.active {
    background-color: #8F2B2F;
    color: white;
  }
  
  /* Add a grey background color on mouse-over */
  .pagination a:hover:not(.active) {background-color: #ddd;} 
  
  .pagination mat-icon{
    color: #8F2B2F;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }