<div class="main-container" [ngStyle.gt-sm]="{'margin-right': '200px;'}">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div class="head1">
            <span [ngStyle.gt-sm]="{'width': '73px;', 'height': '33px;', 'font-size': '20px;', 'margin-left': '174px;'}"
                fxLayout="row" fxLayoutAlign=" none" [ngStyle.sm]="{'margin-left':'30px'}"
                [ngStyle.xs]="{'margin-left':'10px'}">Books <p id="items"> ({{bookcount}}_items)</p> </span>
        </div>

        <div class="example-spacer"></div>

        <div class="sorting-class" [ngStyle.sm]="{'margin-right':'30px'}" [ngStyle.xs]="{'margin-right':'20px'}"
            style="margin-top: -25px;">
            <mat-form-field appearance="outline" [ngStyle.gt-xs]="{'width': '150px;', 'height': '20px;'}"
                [ngStyle.xs]="{'width':'145px', 'height':'2px' }">
                <select matNativeControl fxLayoutAlign="center center" style="width: 100%;">
                    <option value="relevence">Sort by relevence</option>
                    <option value="L2H">Price: Low to High</option>
                    <option value="H2L">Price: High to Low</option>
                    <option value="NA">Newest Arrivals</option>
                </select>
            </mat-form-field>
        </div>
    </div>

    <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="start center " fxLayoutGap="-100px">

        <div *ngFor="let book of booksArray" fxLayoutGap.md="40px" fxLayoutGap.sm="100px" fxLayoutGap.xs="60px"
            [ngClass.sm]="'medium-book-con'" [ngClass.xs]="'small-book'">


            <div class="book-con" [ngClass.gt-sm]="'regular-book-con'" [ngClass.xs]="'small-book-con'" fxLayout="column"
                fxLayoutAlign="space-evenly center" fxLayoutGap="5px"
                style=" border: 1px solid gray; border-bottom: 0px;">
                <div class="img">
                    <img src="/assets/Image 11.png" width="105px" height="135px" alt="" (click)="quickView(book)">
                </div>
            </div>
            <div class="details" [ngClass.gt-sm]="'regular-details'" fxLayout="column"
                fxLayoutAlign="space-evenly center" style=" border: 1px solid gray; border-top: 0px;">
                <b class="name-container" [ngClass.xs]="'small-name-container'" [ngClass.sm]="'medium-name-container'">
                    {{book.bookName}}
                </b>
                <mat-card-subtitle class="authorName" [ngClass.xs]="'small-authorName'"
                    [ngClass.sm]="'medium-authorName'">
                    by {{book.author}}
                </mat-card-subtitle>


                <div fxLayout="row" fxLayoutAlign="start center" class='ratingbox'
                    style="margin-left:-135px; margin-bottom:10px;">
                    <button mat-raised-button style="background-color:#388E3C; border:none; color:#FFFFFF;"
                        fxLayoutAlign="center center">
                        4.5<img src="/assets/star_white_24dp.svg" height="10px" width="10px" class="star">
                    </button> ({{book.quantity}})
                </div>

                <div style="margin-left:-135px; margin-top: -15px;" fxLayout="row" fxLayoutAlign="space-between center">
                    <span>Rs. {{book.price}}</span>
                </div>
            </div>

        </div>
    </div>

    <div class="pagination" fxHide.lt-md>
        <a href="#">
            <mat-icon>arrow_circle_left</mat-icon>
        </a>
        <a href="#">1</a>
        <a class="active" href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">6</a>
        <a href="#">7</a>
        <a href="#">8</a>
        <a href="#">9</a>
        <a href="#">10</a>
        <a href="#">11</a>
        <a href="#">12</a>
        <a href="#">13</a>
        <a href="#">14</a>
        <a href="#">15</a>
        <a href="#">16</a>
        <a href="#">17</a>
        <a href="#">18</a>
        <a href="#">
            <mat-icon>arrow_circle_right</mat-icon>
        </a>
    </div>

</div>