// *{
//     text-decoration: none;
//     list-style-type: none;
// }

.main-container {
    margin-left: 170px;
    margin-right: 170px;
}

#faint {
    opacity: 0.5;
}

.heading {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: -25px;
}

.card {
    border: 2px solid lightgray;
    margin-top: 20px;
    padding: 40px 40px 40px 40px;
    width: max-content;
    // width: auto;
}
.details {
    margin-left: 50px;
}

.bookName {
    font-size: x-large;
    // margin-bottom: 25px;
}

.author {
    font-size: large;
    margin-top: 10px;
    opacity: 0.5;
}

.pricePart {
    margin-top: 20px;
}

.currPrice {
    font-size: large;
}

.actPrice{
    font-size: 13px;
    opacity: 0.5;
    margin-left: 10px;
    // margin-bottom: 15px;
}

.pin {
    color: #A03037;
    margin-right: 10px;
}

.second {
    margin-left: 300px;
}

.btn button {
    margin-top: 150px;
    background-color: #3371B5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 20px 15px 20px;
}

#card2 {
    width: 937px;
}

#card3 {
    width: 937px;
}
.name {
    font-size: 20px;
    font-weight: 500;
}

.addbooks {
    margin-top: 30px;
}

.add {
opacity: 0.5;
margin-right: 10px;
}

.count {
    margin-right: 10px;
    border: 2px solid lightgray;
    padding: 10px 20px 5px 20px;

}

.remove {
    opacity: 0.5;
margin-right: 30px;

}

.removebook {
font-size: 16px;
opacity: 0.7;
}