<body fxLayout="row" fxLayoutAlign="center center">
    <div class="container" style="background-color: #f5f5f5;" fxHide.xs>
        <div class="image1">
            <img src="/assets/2766594.png" alt="404" width="245px" height="245px">
        </div>
        <div class="title">
            <P>E-commerce Store</P>
        </div>
    </div>
    <div class="signup">
        <div class="container2">
            <mat-tab-group value="login">
                <mat-tab label="Login" value="login"><app-login></app-login></mat-tab>
                <mat-tab label="Signup" value="signup"><app-signup></app-signup></mat-tab>
            </mat-tab-group>
        </div>
    </div>
</body>