<p>
    <mat-toolbar [ngClass.xs]="'small'" [ngClass]="'regular'" [ngClass.sm]="'medium'">

        <img src="/assets/bookstoreIcon.svg" alt="" style="margin-top: -3px; margin-right: 5px;">

        <span routerLink="/dashboard/get-all-books" style="cursor: pointer;">Bookstore</span>

        <span class="searchBar" fxHide.lt-md fxFlex=40 fxLayout="row" fxLayoutAlign="start center">
            <mat-icon id="icon">search</mat-icon>
            <input id="searchbar" type="text" placeholder="Search..." #search (keyup)="shareSearchWord(search.value)">
        </span>

        <span class="example-spacer"></span>


        <span [ngClass.xs]="'iconing'" [ngClass.sm]="'container'" [ngClass]="'container'" fxLayout="column"
            fxLayoutAlign="center center" fxHide.gt-sm>

            <button mat-icon-button class="profile-button" aria-label="Example search icon">
                <mat-icon class="profile-icon">search</mat-icon>
            </button>

            <a href="/dashboard/get-all-books" class="profile-hint">search</a>

        </span>

        <span [ngClass.xs]="'iconing'" [ngClass.sm]="'container'" [ngClass]="'container'" fxLayout="column"
            fxLayoutAlign="center center" [matMenuTriggerFor]="belowMenu">

            <button mat-icon-button class="profile-button" aria-label="Example person icon">
                <mat-icon class="profile-icon">person_outline</mat-icon>
            </button>

            <a href="/dashboard/get-all-books" class="profile-hint">Profile</a>

        </span>
        <mat-menu #belowMenu="matMenu" yPosition="below">
            <p style="padding: 30px 105px 5px 15px;">Hello, Profile</p>
            <button mat-menu-item (click)='profileButton()'>
                <mat-icon>person_outline</mat-icon>
                Profile
            </button>
            <button mat-menu-item>
                <mat-icon>shopping_bag</mat-icon>
                My Orders
            </button>
            <button mat-menu-item (click)='onWishlist()'>
                <mat-icon>favorite_border</mat-icon>
                My Wishlist
            </button>
            <button mat-menu-item id="logout" style="width: 100px;" fxLayoutAlign="center center">Log Out</button>
        </mat-menu>

        <span [ngClass.xs]="'iconing'" [ngClass.sm]="'container2'" [ngClass]="'container2'" fxLayout="column"
            fxLayoutAlign="center center" routerLink="/dashboard/cart">
            <button mat-icon-button class="profile-button" aria-label="Example cart icon"
                [matBadgeHidden]="badgeVisibility" matBadge="{{countitems}}" matBadgeColor="accent" matBadgeSize="small"
                matBadgePosition="below after">
                <img src="/assets/cart.svg" alt="" class="profile-icon" height="20px" width="20px">
            </button>

            <a href="/dashboard/cart" class="profile-hint">Cart</a>
        </span>

    </mat-toolbar>
</p>

<router-outlet></router-outlet>

<!-- <button (click)="count()">count</button> -->


<!-- <footer class="footer" fxLayoutAlign="none center">
    Copyright &copy; 2020, Bookstore Private Limited. All Rights Reserved
</footer> -->